* {
	font: "Mononoki Nerd Font 14";
	bg0: #0c0a1730;
	bg1: #23339730;
	fg0: #263BA7;
	fg1: #0c0a17;
	accent-color: #263BA730;
	urgent-color: #1B2B8B30;
	background-color: transparent;
	text-color: @fg0;

	margin: 0;
	padding:0;
	spacing:0;
}
