* {
	font: "Mononoki Nerd Font 14";
	bg0: #342c41;
	bg1: #04CEFE;
	fg0: #16DCFE;
	fg1: #342c41;
	accent-color: #16DCFE;
	urgent-color: #60BAF0;
	background-color: transparent;
	text-color: @fg0;

	margin: 0;
	padding:0;
	spacing:0;
}
