* {
	font: "Mononoki Nerd Font 13";
	bg0: #111313;
	bg1: #897565;
	fg0: #7E8376;
	fg1: #111313;
	accent-color: #7E8376;
	urgent-color: #95662D;
	background-color: transparent;
	text-color: @fg0;

	margin: 0;
	padding:0;
	spacing:0;
}
